PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/interviewmate?retryWrites=true&w=majority
JWT_SECRET=interviewmate_jwt_secret_production_key_9988
GEMINI_API_KEY=your_gemini_api_key_here
